env
*.exe
__pycache__
*.log !(archive\logs\web_crawler_logs.log)
*.txt !(requirements.txt)
*.html !(home.html) !(index.html)
*.db !(archive\dataBase\digikala_database.db)
*.csv
*.html
*.json
seller_category_finder.py
find_digikala_category.py
*.png
*.txt
*.ini
