env
venv
old_files
*.exe
__pycache__
*.log
*.txt !(requirements.txt)
*.html !(home.html)
*.db
*.csv
*.html
*.json
seller_category_finder.py
find_digikala_category.py
*.png
*.txt
*.ini
