<header>
    <nav class="py-3 ">
        <ul class="nav d-flex justify-content-around">
            <li class="nav-item">
                <a class="nav-link active" href="#" aria-current="page" onclick="showHelpPopup()">help</a>
            </li>
            <li class="nav-item">
                <h1 class="nav-item">DIGIKALA CRAWLER</h1>
            </li>
            <li class="nav-item">
                <div class="language-selector">
                    <select id="language" onchange="changeLanguage()">
                        <option value="en" >English</option>
                        <option value="fa" disabled>فارسی</option>
                    </select>
                </div>
            </li>
        </ul>
    </nav>
    <!-- Help Popup -->
    <div id="helpPopup" style="display: none; position: fixed; top: 50%; left: 50%; transform: translate(-50%, -50%); background-color: #fff; padding: 20px; border: 1px solid #ccc; box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);">
        <div class="text-text">
            <ul>
                <li>Always mind the initial setup for the crawler configuration.</li>
                <li>Making adjustments to the configuration is crucial for optimal performance.</li>
                <li>Inspect single product crawl examples for a better understanding.</li>
                <li>Recheck the URLs provided for accuracy and completeness.</li>
                <li>Helpful insights can be gained from analyzing single seller crawl examples.</li>
                <li>Always pay attention to the details in category crawl configurations.</li>
                <li>Be sure to review all examples provided for a comprehensive learning experience.</li>
                <li>Inspecting the examples closely will reveal important crawling nuances.</li>
                <li>Beneficial outcomes arise from meticulous planning and execution.</li>
                <li>Initiating the crawl with precision ensures success and efficiency.</li>
                <ul>
                    <li> Example For single product crawl: https://www.digikala.com/product/dkp-11194944'</li>
                    <li> Example For single seller crawl: https://www.digikala.com/seller/6xwus/</li>
                    <li> Example For category crawl : https://www.digikala.com/search/?q=iphone'</li>
                    <li> Example For category crawl : https://www.digikala.com/search/category-mobile-phone/xiaomi/'</li>
                    <li> Example For category crawl : https://www.digikala.com/search/'</li>
                </ul>
            </ul>       
        </div>
        <button onclick="hideHelpPopup()">Close</button>
    </div>
    
    

</header>
