<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta
            name="viewport"
            content="width=device-width, initial-scale=1, shrink-to-fit=no"
        />

        <!-- Bootstrap CSS v5.2.1 -->
        <link
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
            rel="stylesheet"
            integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
            crossorigin="anonymous"
        />
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
        
        


    </head>

    <body>
        {% include 'header.html' %}  
        
        <main>
            <!--  Main page content goes here -->
           
            <div class="container">
            <div class="row justify-content-center align-items-center g-2 my-3">

                <!-- SETTING BOX  -->   
                <div class="col text-center"> 
                    <div class="header">Crawler Config</div>
                    <hr>
                    <form action="{{ url_for('settings') }}" method="post">
                        <label for="gekoPath">GekoDriver Path:</label>
                        <input type="text" id="gekoPath" name="gekoPath" value="{{ geko_path }}" required>
                        
                        <label for="dbPath">DataBase Path:</label>
                        <input type="text" id="dbPath" name="dbPath" value="{{ db_path }}" required>
                        
                        <label for="driverType">Driver Type:</label>
                        <select id="driverType" name="driverType">
                            <option value="firefox" {% if driver_type == 'firefox' %} selected {% endif %}>Firefox</option>
                            <option value="chrome" {% if driver_type == 'chrome' %} selected {% endif %}>Chrome</option>
                        </select>
                        <select id="HeadlessMode" name="HeadlessMode">
                            <option value="True" {% if driver_type == 'True' %} selected {% endif %}>headless driver</option>
                            <option value="False" {% if driver_type == 'False' %} selected {% endif %}>normal driver</option>
                        </select>
                        <button type="submit">Save Settings</button>
                    </form>
                                    </div>
                <!-- SETTING BOX  END-->

                <!-- Crawler menu -->
                <div class="col text-center"> 
                    <div class="header">Crawler menu</div>
                    <hr>
                    <div class="row justify-content-center align-items-center g-2 my-3">
                       <div class="col-12 text-center">
                            <label for="categoryUrl">Category URL:</label>
                            <input type="text" id="categoryUrl" name="categoryUrl"  placeholder="https://www.digikala.com/search/?q=iphone" required>
                            <button type="button" onclick="startWebScraping('category')">Start Scraping</button>
                        </div>

                       <div class="col-12 text-center">
                            <label for="categoryUrl">single seller:</label>
                            <input type="text" id="single_seller_url" name="single_seller_url"  placeholder="https://www.digikala.com/seller/6xwus/" required>
                            <button type="button" onclick="startWebScraping('single_seller')">Start Scraping</button>
                       </div>
                            
                       <div class="col-12 text-center">
                        <label for="seller_products">seller products:<br>
                            <select id="driver-type" name="driverType" onchange="changeDriver_type()">
                                {% for seller_id, seller_name in sellers %}
                                <option value="{{ seller_id }}">{{ seller_name }} ({{ seller_id }})</option>
                                {% endfor %}
                            </select>
                            
                        </label>
                        <button type="button" onclick="startWebScraping('seller_products')">Start Scraping</button>
                    </div>

                       <div class="col-12 text-center">
                            <label for="single_product_url">single product:</label>
                            <input type="text" id="single_product_url" name="single_product_url"  placeholder="https://www.digikala.com/product/dkp-11194944" required>
                            <button type="button" onclick="startWebScraping('single_product')">Start Scraping</button>
                       </div>

                       <div class="col-12 text-center">
                            <label for="all_products">all products in dataBase:</label>
                            <button type="button" onclick="startWebScraping('all_products')">Start Scraping</button>
                       </div>

                    </div>                
                <!-- Crawler menu End  -->
                </div>

              



                <!-- Export menu -->
                <div class="col text-center">  
                    <div class="header">Export Menu</div>
                    <hr>
                    <div class="row justify-content-center align-items-center g-2 my-3">
                        <div class="col-12 text-center">
                            <label for="sellers_table">export all sellers data:</label>
                            <button type="button" onclick="startWebScraping('sellers_table')">export to CSV</button>
                        </div>

                        <div class="col-12 text-center">
                            <label for="driver-type">export sellers products data with ID(name):<br>
                                <select id="driver-type" onchange="changeDriver_type()">
                                    <option value="seller ID 1">seller ID 1 (seller name)</option>
                                    <option value="seller ID 2">seller ID 2 (seller name)</option>
                                </select>
                            </label>
                            <button type="button" onclick="startWebScraping('sellers_products')">export to CSV</button>

                        </div>

                        <div class="col-12 text-center">
                            <label for="all_seller_products">export all seller products table:</label>
                            <button type="button" onclick="startWebScraping('all_seller_products')">export to CSV</button>
                        </div>


                        <div class="col-12 text-center">

                            <label for="driver-type">export single sellers product information with all specification<br>
                                <select id="driver-type" onchange="changeDriver_type()">
                                    <option value="seller ID 1">seller ID 1 (seller name)</option>
                                    <option value="seller ID 2">seller ID 2 (seller name)</option>
                                </select>
                            </label>
                            <button type="button" onclick="startWebScraping('single_sellers_product_specification')">export to CSV</button>

                        </div>
                        <div class="col-12 text-center">
                            <label for="all_sellers_products_specification">export all sellers products with all specifications:</label>

                            <button type="button" onclick="startWebScraping('all_sellers_products_specification')">export to CSV</button>


                        </div>
                        <div class="col-12 text-center">
                            <label for="all_table_data">export all table data:</label>
                            <button type="button" onclick="startWebScraping('all_table_data')">export to CSV</button>
                        </div>
                    </div>
                    
                    
                    
                    
                     
                    

                <!-- Export menu End -->
                </div>
                
            </div>
            
            <div class="row justify-content-center align-items-center g-2 my-3">
                <div class="col text-center">
                    live log show here 
                </div>
                
            </div>

            <div class="row justify-content-center align-items-center g-2 my-3">
                <!-- dataBase Report  -->
                <div class="col text-center">
                    <label for="dataBase_report">database report  table:</label>
                    <button type="button" onclick="startWebScraping('dataBase_report')">report</button>
                    <div class="text-center">report will show here 
                        
                    </div>
                <!-- dataBase Report End -->
                </div>

                <div class="col text-center">data analysis <br> (coming soon) </div>
                <div class="col text-center">api setting <br> (coming soon) </div>


            </div>
        </div>
        </main>
        {% include 'footer.html' %}  

    </body>
</html>
